
*{
    margin: 0;
    padding: 0;
}

body {
  background-color: #3757d0;
  background-image: -webkit-radial-gradient(#81bcff, #303391);
  background-image: radial-gradient(#81bcff, #303391);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 25px;
  line-height: 31px;
  color: rgb(73, 72, 100);
}
h1 {
  font-style: normal;
  font-size: 125px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0 2px 2px #666;
  line-height: normal;
}
h1 span {
  display: inline-block;
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  opacity: 0;
}
section {
  height: 100vh;
  position: relative;
  z-index: 8888;
}
#intro {
  display: block;
  width: 750px;
  height: 400px;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  position: absolute;
}
#intro h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 135px;
  margin: 0;
}
#intro h1 span {
  position: relative;
}
#intro .tophat {
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -144px;
  margin-bottom: 50px;
}
#intro .sparkpoint {
  top: 60px;
  left: 380px;
}
.dancing {
  background-color: #FE0018;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  margin-bottom: 15px;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  word-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

#countdown p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
#countdown .canvas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width:500px){
  #countdown .canvas-container { max-width: 220px; }
  #countdown canvas:nth-child(-n+2) { margin-bottom: 10px; }
}

.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
background-image: linear-gradient(#ff4b2b,#ff416c);
margin-bottom: 15px;
}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}
.content{
  font-size: 15px;
  color: #2196f3;
}
.swiper-slide:nth-child(2) .content{
color: #e91e63
}
.swiper-slide:nth-child(3) .content{
color: #2196f3
}
.swiper-slide:nth-child(4) .content{
color: #e91e63
}

.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 1em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(3) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(4) .sliderText{
background: #e91e63
}
.rock{
  width: 100%;
  text-align: center;
}
.rock h2{
  text-align: center;
  font-size: 28px;
  color: white;
   margin-bottom: 9px;
}
hr{
  color: #81bcff;
  
  
}
.subh{
  font-size: 17px;
  margin-bottom: 9px;
  color: #272291;
  }
  .priti{
    font-size: 17px;
    line-height: 14px;
    color: #272291;
      }
  
 #countdown1 span {      
  font-size: 15px;
  font-weight: normal;
  margin-left: 7px;
  margin-right: 7px;
  text-align: center; 
  color: yellow;  
}
.sthan{
  font-size: 17px;
  margin-bottom: 20px;
  color: #272291;
}
.map{
  margin-bottom: 20px;
}
.proja{
  margin-bottom: 20px;
  font-size: 28px;
  color: white;
  margin-bottom: 40px;
  font-weight: bold;
}
#fontcss{
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
   margin-bottom: 10px;
   color: #272291;
}
.bih{
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  text-indent: 35px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #272291;
}
.nibe{
  text-align: right;
  margin-right: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #272291;
}
footer{
    width: 100%;
    height: 100px;
    background: #2B2A2A;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 17px; 
      font-size: 15px; 
      line-height: 19px;   
      color: 		#C0C0C0;
      letter-spacing: 1px;
  }  

  